
label {
    font-style: regular;
}
th, tr {

    font-style: regular;

}
#confirm {

    width: 30vw;
    font-size: 2vw;
    text-align: center;
    background-color:#00ADE6;
    border-color:#00ADE6;
    color: white;
    text-shadow: 2px 2px #303030;
    border-radius: 8px;
    transition: 0.4s;

}
#confirm:hover{
    background-color:white;
    color: #00ADE6;
}
#aantal {
    float: left;
    height: 32px;
    font-style: regular;
}
.content{

    margin-left: 2vw;
    margin-right: 2vw;

}

.content p {

    margin-top: 1vw;

}
.banner-mobile{
    visibility: visible;
    overflow: hidden;
    background: rgb(0,75,160);
    background: linear-gradient(180deg, rgba(0,75,160,1) 0%, rgba(25,118,210,1) 40%, rgba(99,164,255,1) 100%);
    font-family: Arial;
    margin: 0;
    height: 50vh;
    min-height: 40px;
    width: 100%;

}
.circle img {
    margin: 0;
    position: absolute;
    width: 20vw;
    height: 20vw;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle-top img {
    margin: 0;
    position: absolute;
    width: 20vw;
    height: 20vw;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.anim {
    left: 50%;
    right: 50%;
    top: 50%;
    position: absolute;
    width: 1px;
    height: 1px;
    background: rgb(0,75,160);
    background: linear-gradient(180deg, rgba(0,75,160,1) 0%, rgba(25,118,210,1) 40%, rgba(99,164,255,1) 100%);
    border-radius:50%;
    opacity: 100%;

}
.anim-full {
    top: 0%;
    margin: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(0,75,160);
    background: linear-gradient(180deg, rgba(0,75,160,1) 0%, rgba(25,118,210,1) 40%, rgba(99,164,255,1) 100%);
    left: 0%;
    right: 0%;
    border-radius:0%;
    opacity: 100%;
}
.dropdown .dropbtn{
    text-shadow: 2px 2px #303030;
    font-size: 3vh;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 100%;
    height: 5vh;
    text-align: center;

}
.dropdown-content ul {
    list-style-type: none;
}
.dropdown-content a{
    float:none;
    display:block;
    text-decoration: none;
    text-align: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: #FFFFFF;
    font-size: 3em;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color: #00ADE6;
    min-width: 100%;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

body {
    background: #e2e1e0;
    margin: 0;

}
.banner {
    visibility:hidden;
    position: absolute;
}
.links {
    margin-top: 20vh;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    display: inline-block;
    height: 100vh;

}
.link{
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    display: inline-block;
    text-align: center;
    margin: 2vh calc(5vw - 12px);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.link i{
    margin-top:16%;
    height: 50%;
    width: 50%;
    fill: white;
    color:white; 
    font-size: 62px;
}
.link svg{
    margin-top:20%;
    height: 50%;
    width: 50%;
    fill: white;
}
.product {
    display: inline-block;
    width: 90%;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: .5vh calc(5% - 1vw);
    padding: .2vh 1vw;
    border-radius: 1vh;
}
#desc {
    width: 50%;
    float:left;
    padding: 0;
}
#price {
    width:30%;
    float:left;
    padding: 0;
}
#amount{
    width:30%;
    float: right;
    padding: 0;
}
.product-card {
    border-radius: 1vh;
    margin:1vh auto;
    width:56vw;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-content {
    margin: 0 2vw;
    display: inline-block;
    width: calc(100% - 4vw);
}
.product-card h3 {
    margin-top: 1vh;
    font-size: 1.5rem;
    margin-bottom: 0;
    line-height: 120%;
}
.product-card h4 {
    font-size: 1.1rem;
    color: grey;
    margin-top: .5vh;
    margin-bottom: 0;
    line-height: 120%;
}
.buttons {
    width:100%;
    margin-top: 2vh;
    display: inline-block;

}
.buttons button {
    display: inline-block;
    position: relative;
    border: none;
    background: none;
    color: #004ba0;
    margin: 1vh 0;
    font-size: 1.1rem;
    letter-spacing: .3vw;
    padding: 0 1vw;
    overflow: hidden;
    outline: none;
    border-radius: .5vh;
}
.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(0,75,160, 0.6);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .7s ease-out;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.order-prices {
    border-radius: 1vh;
    width:90%;
    background-color: white;
    margin: .5vh calc(5% - 1vw);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: .2vh 1vw;
}
.order-prices p {
    margin: 0.5vh 2vw;
    letter-spacing: 0.3vw;
}
.prices {
    border-radius: 1vh;
    width:56vw;
    background-color: white;
    margin: 1vh auto 3vh auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: .5vh 0;
}
.prices p {
    margin: 0.5vh 2vw;
    letter-spacing: 0.3vw;
}
.link a, .link a:visited{
    text-decoration: none;
}

.link p {
    margin: 0;
    text-decoration: none;
    color: white;
    font-size: .9rem;

}
a#banner_a, a#home, a#fancy_a{
    color: #FFFFFF;
    border-color:#1976d2;
    font-weight: demibold;
    text-shadow: 2px 2px #303030;
    font-size: 1rem;
    text-decoration: none;
    padding: 1vw 2.5vw;
    transition: 0.4s;
    margin: 2px 0;


}
a#home {
    position: absolute;
    left:0;
}
a#fancy_a{
    border-style:solid;
    border-radius: 8px;
    background-color: #1976d2;
}
a#banner_a, a#home{
    visibility: hidden;
    position:absolute;
    top:-1000px;
    left:-1000px;
}
a#home {
    position: absolute;
    left:0;
}

a#unstyle{
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

td{
    background-color: white;
}
.left {
    float:left;
}
.right {
    float: right;
}

img{
    height: auto;
    max-width:100%;
}
th, td{
    border-bottom: lightgray 1px solid;
    text-align:center;
    font-size: 3rem;
}
th{
    padding:15px;
}
table{
    margin: 1.5vw;
    border-spacing:0px;
}

input[type="search"]{
    width: 97vw;
    margin: 0.8vw 1.5vw 0 1.5vw;
    padding: 0.5vw;
    line-height: 3vh;
    border-radius: 2vw;
    border: 2px lightgray solid;
    box-sizing: border-box;
    transition: 0.5s;
    padding-left: 3.5vh;
    background-color: white;
    background-image: url("assets/search_logo.png");
    background-position-y: center; 
    background-position-x: 0.5vw;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    transition:0.4s;
    font-size: 3rem;
    transition-timing-function: ease-in-out;
}

input[type="search"]:focus{
    border:gray 2px solid;
    outline: none;
    transition: 0.5s;
    background-position-x: -3vh;
    padding-left: 1vw;
}

input#fancy_a{
    color: #FFFFFF;
    border-color:#1976d2;
    font-weight: demibold;
    text-shadow: 2px 2px #303030;
    font-size: 1rem;
    padding: 1vw 2.5vw;
    text-decoration: none;
    transition: 0.4s;
    margin: 2px 0;
    border-style:solid;
    background: #1976d2;
    border-radius: 8px;
}
#confirm { 

    width: 30vw;
    font-size: 2vw;
    text-align: center;
    background-color:#00ADE6;
    border-color:#00ADE6;
    color: white;
    text-shadow: 2px 2px #303030;
    border-radius: 8px;
    transition: 0.4s;

}
#confirm:hover{
    background-color:white;
    color: #00ADE6;
}
.wrapper {
    position: absolute;
    top: 45vh;
    margin-top: -10vh;
    min-height:40vh;
    width:80%;
    left: 10%;
    margin: auto;
    display: inline-block;
}
.status {
    background-color: white;
    float: left;
    width: 100%;
    margin-top: 1vh;
    border-radius: 1vh;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
}
.status h1 {
    text-align: center;
    letter-spacing: .05rem;
    font-size: 1.5rem;
    margin-bottom: 2vh;
    line-height: 1.5rem;
}
.status p {
    margin-top:0;
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 2vw;
    padding-bottom: .5rem;
}
.status_circle {
    border-radius: 50%;
    position: absolute;
    top: .5vh;
    right: .5vh;
    width: 5vw;
    height: 5vw;
    -webkit-transition: box-shadow 1s linear;
    -moz-transition: box-shadow 1s linear;
    transition: box-shadow 1s linear;  
}
.status_circle svg {
    position: absolute;
    width: 120%;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.status_circle#orange svg.outer, .status_circle#red svg.outer, .status_circle#green svg.outer {
    fill:black;
}
.status_circle#orange svg{
    fill: orange;
}.status_circle#green svg{
    fill: green;
}.status_circle#red svg{
    fill: red;
}

.status_circle.active#orange {
    -webkit-box-shadow: 0 0 2vh orange;
    -moz-box-shadow: 0 0 2vh orange;
    box-shadow: 0 0 2vh orange;
}.status_circle.active#red {
    -webkit-box-shadow: 0 0 2vh red;
    -moz-box-shadow: 0 0 2vh red;
    box-shadow: 0 0 2vh red;
}.status_circle.active#green {
    -webkit-box-shadow: 0 0 2vh green;
    -moz-box-shadow: 0 0 2vh green;
    box-shadow: 0 0 2vh green;
}
#card p {
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0 2vw;
}
#card {
    display: inline-block;
    width: 100%;
    background: #fff;
    border-radius: 1vh;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    float: left;
    min-height:15vh;
}
#card h1 {
    display: inline-block;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: demibold;
    letter-spacing: .05rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 2svh;
    height: 4vh;
    width: 100%;
}
#winkelmandje {
    bottom: -3vh;
}
.submenu {
    position: absolute;
    bottom: -1.25vh;
    right: 0;
    left: 0;
    text-align: center;
}
.submenu a, .submenu input {
    height: 5vh;
    width: 22vw;
    bottom: -2.5vh;
    font-size: 1rem;
}
#remember {
    height:1rem;
    margin: 0 1rem;
    margin-bottom: 48px;
}
#remember label {
    font-size: 1.25rem;
    font-family: Roboto, sans-serif;

}
#remember input {
    height: .9rem;
    width : .9rem;
    margin: 0;
}
#card input[value="Inloggen"]{
    position: absolute;
    margin: 0 30vw;
    height: 5vh;
    width:  20vw;
    bottom: -2.5vh;
    font-size: 1rem;
    text-align: center;
}
center {
    height: 1vh;
}
.text-field {
    position:relative; 
    margin-bottom:1.5rem; 
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .5rem 0;
    height:1.5rem;
}
.text-field input{
    font-size: 1.25rem;
    padding:.3rem .3rem .3rem .15rem;
    display:block;
    width:100%;
    border:none;
    border-bottom:.05rem solid #757575;
}
.text-field input:focus 		{ outline:none; }
.text-field label{
    font-family: Roboto, sans-serif;
    color:#999; 
    font-size:1.25rem;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:.15rem;
    top:.2rem;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.text-field input:focus ~ label, .text-field input:valid ~ label 		{
    top:-0.55rem;
    font-size:.5rem;
    color:#004ba0;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
    content:'';
    height:.1vh;
    width:0;
    bottom:.05vh; 
    position:absolute;
    background:#004ba0;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%; 
}

/* active state */
.text-field input:focus ~ .bar:before, .text-field input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:1.8vh; 
    width:5.6vh; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
.text-field input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
#register {
    position: relative;
    top: 1.5rem;
    float: left;
    width: 100%;
    text-align: center;

}
a#register, a:visited#register {
    color: black;

    font-size: 1rem;
    text-decoration: none;
}
h1 {

}
.order {

    width: 70vw;
    margin: 1vh auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: .5vh 0;
    border-radius: 1vh;
}
.order h2 {
    text-align: center;
    font-size: 4vh;
}
.grid{
    display:grid;
    grid-template-columns: auto auto auto;
    border-collapse: collapse;
    grid-gap: 1vw;

}
.grid img{
    height: 25.2vw;
}
.grid p {
    height: 6vw;
    margin: 0;
    padding-top: 1vw;
}
.grid-item{
    border: 1px solid gray;
    padding: 0.5vw;
    position: relative;
    padding-bottom:2vw;
    border-radius: 6vw;
    text-align: center;
    max-width: 32vw;
    height: 35vw;
}

.grid-item p{
    font-size:1.6em
}

.leftGrid {
    position: absolute;
    bottom:1vw;
    left:1.8vw;
    font-size: 1.6em;
    height: 2.8vw;

}
.rightGrid {
    position: absolute;
    bottom:1vw;
    right:1.8vw;
    font-size: 1.6em;
    height: 2.8vw;
}

select#top{
    position:absolute;
    top: 5vh;
    /*min-top: 40px*/;
    right: 0;
    height:5vw;
    min-height:20px;
    width: 100vw;
    text-align-last: center;
    font-size: 2em;
    font-family: Arial;
}

.spacer{
    height: 5.4vw;
    min-height: 20px;
    max-width: 100vw;
}