@use "@material/theme" with (
  $primary: #1976d2,
  $secondary: #004ba0,
  $background: #fff,
  $on-primary: #1976d2,
  $on-secondary: #004ba0,
);
$primary: #1976d2;
$secondary: #004ba0; // global variables outside of the theme omdat theme soms niet werkt in mixins

@use "@material/button";
@use "@material/card";
@use "@material/dialog";
@use "@material/icon-button";
@use '@material/image-list';
@use "@material/line-ripple";
@use "@material/list";
@use "@material/menu";
@use "@material/menu-surface";
@use '@material/ripple';
@use "@material/select";
@use '@material/snackbar';
@use "@material/typography";




$list_columns: 3;
.bonus-image-list{
    @include image-list.shape-radius(8px);
    @include image-list.standard-columns($list_columns);
    li.bonus-image-list__item{
        margin: 4px;
        width: calc(100%/#{$list_columns} - 2*4px);
        padding:0;
        border-radius:8px;
        
        .price-label{
            position: absolute;
            top: 0;
            right: 0;
            height: 1.5rem;
            //trbl
            //margin:auto;
            padding: 0.25rem 0.3rem 0 0.3rem;
            border-radius: 0 0 0 8px;
            font-family: Roboto, sans-serif;
            background-color: /*#2ba0b3$primary*/#63a4ff;
            display:block;

            color: white;
            span {
                vertical-align: middle;
                @include typography.typography(body1);
                font-size: 1rem;
                display: block;
            }
        }
        
        .bonus-image-list__supporting{
            padding: 0 8px;
            height:32px;
        }
    }
}


.ripple-surface{
    @include ripple.surface;
    @include ripple.radius-bounded;
    @include ripple.states-base-color(black);
    @include ripple.states-opacities((hover: 0, focus: 0, press: .25));
    overflow: hidden;
}

.bonus-product-dialog{
    @include dialog.min-width(80vw);
    @include dialog.shape-radius(8px);
    .mdc-dialog__container{
        .mdc-dialog__surface{
            
            .mdc-dialog__content{
                padding-right: 24px;
                padding-bottom: 0px;
                padding-left: 24px;
            }
            
            .mdc-dialog__content#bonus-product-dialog-content-stuks-buttons{
                padding-top:0;
            }
            
            footer.mdc-dialog__actions{
                button{
                    @include button.filled-accessible(#fff);
                }
                button.mdc-button--raised{
                    @include button.filled-accessible($primary);
                }
               
            }
        }
    }
    
}


.bonus-sort-select {
    width: 100%;
}


.sort-select{
    @include select.focused-bottom-line-color($primary);
    @include select.focused-label-color($primary);
}

.bonus-sort-select-line-ripple{
    @include line-ripple.active-color($primary);
    @include line-ripple.inactive-color($primary);
}

.mdc-icon-button{
    @include icon-button.core-styles;
    @include ripple.surface;
    @include ripple.radius-unbounded;
    @include ripple.states-base-color(black);
    @include ripple.states-opacities((hover: 0, focus: 0, press: .25));
}

#bonus-product-dialog-content-stuks-buttons-stuks{
    display:inline;
    padding-top: 8px;
    line-height: 0;
}

.bonus-snackbar-after-order{
    @include snackbar.min-width(100%);
    @include snackbar.fill-color(#fff);
    @include snackbar.label-ink-color(#000);
    .mdc-snackbar__surface{
        .mdc-snackbar__actions{
            button.mdc-snackbar__action{
                @include button.filled-accessible(#fff);
                @include button.ink-color(#004ba0);
               
            }
        }
    }
}

.search-result-card{

    margin-bottom: 16px;
    .mdc-card__primary-action{
        p{
            @include typography.typography(body1);
            padding:16px;
        }
        .search-result-card__media{
            background-image: url("https://static.ah.nl/static/product/AHI_43545239363332303137_1_LowRes_JPG.JPG");
            background-size: cover;
            height: 30vh;
            margin: 8px;
        }
        .search-result-card__title{
            margin-block-start: 0.8rem;
            margin-block-end: 0.8rem;
            padding-left: 16px;
        }
        .search-result-card__content{
            margin-block-start: 0;
            margin-block-end:0;
            padding-top:  0;
            color: gray;
        }
    }
}