@keyframes mdc-select-float-native-control {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.bonus-image-list .mdc-image-list__image {
  border-radius: 8px;
}
.bonus-image-list.mdc-image-list--with-text-protection .mdc-image-list__supporting {
  border-radius: 0 0 8px 8px;
}
.bonus-image-list .mdc-image-list__item {
  width: calc(100% / 3 - 4.3333333333px);
  margin: 2px;
}
.bonus-image-list li.bonus-image-list__item {
  margin: 4px;
  width: calc(100%/3 - 2*4px);
  padding: 0;
  border-radius: 8px;
}
.bonus-image-list li.bonus-image-list__item .price-label {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.5rem;
  padding: 0.25rem 0.3rem 0 0.3rem;
  border-radius: 0 0 0 8px;
  font-family: Roboto, sans-serif;
  background-color: #63a4ff;
  display: block;
  color: white;
}
.bonus-image-list li.bonus-image-list__item .price-label span {
  vertical-align: middle;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1rem;
  /* @alternate */
  font-size: var(--mdc-typography-body1-font-size, 1rem);
  line-height: 1.5rem;
  /* @alternate */
  line-height: var(--mdc-typography-body1-line-height, 1.5rem);
  font-weight: 400;
  /* @alternate */
  font-weight: var(--mdc-typography-body1-font-weight, 400);
  letter-spacing: 0.03125em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-body1-text-transform, inherit);
  font-size: 1rem;
  display: block;
}
.bonus-image-list li.bonus-image-list__item .bonus-image-list__supporting {
  padding: 0 8px;
  height: 32px;
}

.ripple-surface {
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.ripple-surface::before, .ripple-surface::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}
.ripple-surface::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}
.ripple-surface.mdc-ripple-upgraded::before {
  transform: scale(var(--mdc-ripple-fg-scale, 1));
}
.ripple-surface.mdc-ripple-upgraded::after {
  top: 0;
  /* @noflip */
  left: 0;
  transform: scale(0);
  transform-origin: center center;
}
.ripple-surface.mdc-ripple-upgraded--unbounded::after {
  top: var(--mdc-ripple-top, 0);
  /* @noflip */
  left: var(--mdc-ripple-left, 0);
}
.ripple-surface.mdc-ripple-upgraded--foreground-activation::after {
  animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
}
.ripple-surface.mdc-ripple-upgraded--foreground-deactivation::after {
  animation: mdc-ripple-fg-opacity-out 150ms;
  transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
}
.ripple-surface::before, .ripple-surface::after {
  top: calc(50% - 100%);
  /* @noflip */
  left: calc(50% - 100%);
  width: 200%;
  height: 200%;
}
.ripple-surface.mdc-ripple-upgraded::after {
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%);
}
.ripple-surface::before, .ripple-surface::after {
  background-color: black;
}
.ripple-surface:hover::before {
  opacity: 0;
}
.ripple-surface.mdc-ripple-upgraded--background-focused::before, .ripple-surface:not(.mdc-ripple-upgraded):focus::before {
  transition-duration: 75ms;
  opacity: 0;
}
.ripple-surface:not(.mdc-ripple-upgraded)::after {
  transition: opacity 150ms linear;
}
.ripple-surface:not(.mdc-ripple-upgraded):active::after {
  transition-duration: 75ms;
  opacity: 0.25;
}
.ripple-surface.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.25;
}

.bonus-product-dialog .mdc-dialog__surface {
  min-width: 80vw;
}
.bonus-product-dialog .mdc-dialog__surface {
  border-radius: 8px;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface .mdc-dialog__content {
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 24px;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface .mdc-dialog__content#bonus-product-dialog-content-stuks-buttons {
  padding-top: 0;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button:not(:disabled) {
  background-color: #fff;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button:not(:disabled) {
  color: rgba(0, 0, 0, 0.87);
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87));
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button .mdc-button__ripple::before, .bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button .mdc-button__ripple::after {
  background-color: rgba(0, 0, 0, 0.87);
  /* @alternate */
  background-color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87));
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button:hover .mdc-button__ripple::before {
  opacity: 0.04;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-ripple-upgraded--background-focused .mdc-button__ripple::before, .bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button:not(.mdc-ripple-upgraded):focus .mdc-button__ripple::before {
  transition-duration: 75ms;
  opacity: 0.12;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button:not(.mdc-ripple-upgraded) .mdc-button__ripple::after {
  transition: opacity 150ms linear;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button:not(.mdc-ripple-upgraded):active .mdc-button__ripple::after {
  transition-duration: 75ms;
  opacity: 0.12;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.12;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-button--raised:not(:disabled) {
  background-color: #1976d2;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-button--raised:not(:disabled) {
  color: white;
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-dark, white);
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-button--raised .mdc-button__ripple::before, .bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-button--raised .mdc-button__ripple::after {
  background-color: white;
  /* @alternate */
  background-color: var(--mdc-theme-text-primary-on-dark, white);
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-button--raised:hover .mdc-button__ripple::before {
  opacity: 0.08;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-button--raised.mdc-ripple-upgraded--background-focused .mdc-button__ripple::before, .bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-button--raised:not(.mdc-ripple-upgraded):focus .mdc-button__ripple::before {
  transition-duration: 75ms;
  opacity: 0.24;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-button--raised:not(.mdc-ripple-upgraded) .mdc-button__ripple::after {
  transition: opacity 150ms linear;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-button--raised:not(.mdc-ripple-upgraded):active .mdc-button__ripple::after {
  transition-duration: 75ms;
  opacity: 0.24;
}
.bonus-product-dialog .mdc-dialog__container .mdc-dialog__surface footer.mdc-dialog__actions button.mdc-button--raised.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.24;
}

.bonus-sort-select {
  width: 100%;
}

.sort-select:not(.mdc-select--disabled).mdc-select--focused .mdc-line-ripple::after {
  border-bottom-color: #1976d2;
}
.sort-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: #1976d2;
}

.bonus-sort-select-line-ripple::after {
  border-bottom-color: #1976d2;
}
.bonus-sort-select-line-ripple::before {
  border-bottom-color: #1976d2;
}

.mdc-icon-button {
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mdc-icon-button .mdc-icon-button {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: transparent;
  fill: currentColor;
  color: inherit;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  width: 48px;
  height: 48px;
  padding: 12px;
}
.mdc-icon-button .mdc-icon-button svg,
.mdc-icon-button .mdc-icon-button img {
  width: 24px;
  height: 24px;
}
.mdc-icon-button .mdc-icon-button:disabled {
  color: rgba(0, 0, 0, 0.38);
  /* @alternate */
  color: var(--mdc-theme-text-disabled-on-light, rgba(0, 0, 0, 0.38));
}
.mdc-icon-button .mdc-icon-button:disabled {
  cursor: default;
  pointer-events: none;
}
.mdc-icon-button .mdc-icon-button__icon {
  display: inline-block;
}
.mdc-icon-button .mdc-icon-button__icon.mdc-icon-button__icon--on {
  display: none;
}
.mdc-icon-button .mdc-icon-button--on .mdc-icon-button__icon {
  display: none;
}
.mdc-icon-button .mdc-icon-button--on .mdc-icon-button__icon.mdc-icon-button__icon--on {
  display: inline-block;
}
@keyframes mdc-ripple-fg-radius-in {
  from {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
  }
  to {
    transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
  }
}
@keyframes mdc-ripple-fg-opacity-in {
  from {
    animation-timing-function: linear;
    opacity: 0;
  }
  to {
    opacity: var(--mdc-ripple-fg-opacity, 0);
  }
}
@keyframes mdc-ripple-fg-opacity-out {
  from {
    animation-timing-function: linear;
    opacity: var(--mdc-ripple-fg-opacity, 0);
  }
  to {
    opacity: 0;
  }
}
.mdc-icon-button .mdc-icon-button {
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mdc-icon-button .mdc-icon-button::before, .mdc-icon-button .mdc-icon-button::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}
.mdc-icon-button .mdc-icon-button::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}
.mdc-icon-button .mdc-icon-button.mdc-ripple-upgraded::before {
  transform: scale(var(--mdc-ripple-fg-scale, 1));
}
.mdc-icon-button .mdc-icon-button.mdc-ripple-upgraded::after {
  top: 0;
  /* @noflip */
  left: 0;
  transform: scale(0);
  transform-origin: center center;
}
.mdc-icon-button .mdc-icon-button.mdc-ripple-upgraded--unbounded::after {
  top: var(--mdc-ripple-top, 0);
  /* @noflip */
  left: var(--mdc-ripple-left, 0);
}
.mdc-icon-button .mdc-icon-button.mdc-ripple-upgraded--foreground-activation::after {
  animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
}
.mdc-icon-button .mdc-icon-button.mdc-ripple-upgraded--foreground-deactivation::after {
  animation: mdc-ripple-fg-opacity-out 150ms;
  transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
}
.mdc-icon-button .mdc-icon-button::before, .mdc-icon-button .mdc-icon-button::after {
  top: calc(50% - 50%);
  /* @noflip */
  left: calc(50% - 50%);
  width: 100%;
  height: 100%;
}
.mdc-icon-button .mdc-icon-button.mdc-ripple-upgraded::before, .mdc-icon-button .mdc-icon-button.mdc-ripple-upgraded::after {
  top: var(--mdc-ripple-top, calc(50% - 50%));
  /* @noflip */
  left: var(--mdc-ripple-left, calc(50% - 50%));
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%);
}
.mdc-icon-button .mdc-icon-button.mdc-ripple-upgraded::after {
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%);
}
.mdc-icon-button .mdc-icon-button::before, .mdc-icon-button .mdc-icon-button::after {
  background-color: #000;
}
.mdc-icon-button .mdc-icon-button:hover::before {
  opacity: 0.04;
}
.mdc-icon-button .mdc-icon-button.mdc-ripple-upgraded--background-focused::before, .mdc-icon-button .mdc-icon-button:not(.mdc-ripple-upgraded):focus::before {
  transition-duration: 75ms;
  opacity: 0.12;
}
.mdc-icon-button .mdc-icon-button:not(.mdc-ripple-upgraded)::after {
  transition: opacity 150ms linear;
}
.mdc-icon-button .mdc-icon-button:not(.mdc-ripple-upgraded):active::after {
  transition-duration: 75ms;
  opacity: 0.12;
}
.mdc-icon-button .mdc-icon-button.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.12;
}
.mdc-icon-button::before, .mdc-icon-button::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}
.mdc-icon-button::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}
.mdc-icon-button.mdc-ripple-upgraded::before {
  transform: scale(var(--mdc-ripple-fg-scale, 1));
}
.mdc-icon-button.mdc-ripple-upgraded::after {
  top: 0;
  /* @noflip */
  left: 0;
  transform: scale(0);
  transform-origin: center center;
}
.mdc-icon-button.mdc-ripple-upgraded--unbounded::after {
  top: var(--mdc-ripple-top, 0);
  /* @noflip */
  left: var(--mdc-ripple-left, 0);
}
.mdc-icon-button.mdc-ripple-upgraded--foreground-activation::after {
  animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
}
.mdc-icon-button.mdc-ripple-upgraded--foreground-deactivation::after {
  animation: mdc-ripple-fg-opacity-out 150ms;
  transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
}
.mdc-icon-button::before, .mdc-icon-button::after {
  top: calc(50% - 50%);
  /* @noflip */
  left: calc(50% - 50%);
  width: 100%;
  height: 100%;
}
.mdc-icon-button.mdc-ripple-upgraded::before, .mdc-icon-button.mdc-ripple-upgraded::after {
  top: var(--mdc-ripple-top, calc(50% - 50%));
  /* @noflip */
  left: var(--mdc-ripple-left, calc(50% - 50%));
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%);
}
.mdc-icon-button.mdc-ripple-upgraded::after {
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%);
}
.mdc-icon-button::before, .mdc-icon-button::after {
  background-color: black;
}
.mdc-icon-button:hover::before {
  opacity: 0;
}
.mdc-icon-button.mdc-ripple-upgraded--background-focused::before, .mdc-icon-button:not(.mdc-ripple-upgraded):focus::before {
  transition-duration: 75ms;
  opacity: 0;
}
.mdc-icon-button:not(.mdc-ripple-upgraded)::after {
  transition: opacity 150ms linear;
}
.mdc-icon-button:not(.mdc-ripple-upgraded):active::after {
  transition-duration: 75ms;
  opacity: 0.25;
}
.mdc-icon-button.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.25;
}

#bonus-product-dialog-content-stuks-buttons-stuks {
  display: inline;
  padding-top: 8px;
  line-height: 0;
}

.bonus-snackbar-after-order .mdc-snackbar__surface {
  min-width: 100%;
}
@media (max-width: 480px), (max-width: 100%) {
  .bonus-snackbar-after-order .mdc-snackbar__surface {
    min-width: 100%;
  }
}
.bonus-snackbar-after-order .mdc-snackbar__surface {
  background-color: #fff;
}
.bonus-snackbar-after-order .mdc-snackbar__label {
  color: #000;
}
.bonus-snackbar-after-order .mdc-snackbar__surface .mdc-snackbar__actions button.mdc-snackbar__action:not(:disabled) {
  background-color: #fff;
}
.bonus-snackbar-after-order .mdc-snackbar__surface .mdc-snackbar__actions button.mdc-snackbar__action:not(:disabled) {
  color: rgba(0, 0, 0, 0.87);
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87));
}
.bonus-snackbar-after-order .mdc-snackbar__surface .mdc-snackbar__actions button.mdc-snackbar__action .mdc-button__ripple::before, .bonus-snackbar-after-order .mdc-snackbar__surface .mdc-snackbar__actions button.mdc-snackbar__action .mdc-button__ripple::after {
  background-color: rgba(0, 0, 0, 0.87);
  /* @alternate */
  background-color: var(--mdc-theme-text-primary-on-light, rgba(0, 0, 0, 0.87));
}
.bonus-snackbar-after-order .mdc-snackbar__surface .mdc-snackbar__actions button.mdc-snackbar__action:hover .mdc-button__ripple::before {
  opacity: 0.04;
}
.bonus-snackbar-after-order .mdc-snackbar__surface .mdc-snackbar__actions button.mdc-snackbar__action.mdc-ripple-upgraded--background-focused .mdc-button__ripple::before, .bonus-snackbar-after-order .mdc-snackbar__surface .mdc-snackbar__actions button.mdc-snackbar__action:not(.mdc-ripple-upgraded):focus .mdc-button__ripple::before {
  transition-duration: 75ms;
  opacity: 0.12;
}
.bonus-snackbar-after-order .mdc-snackbar__surface .mdc-snackbar__actions button.mdc-snackbar__action:not(.mdc-ripple-upgraded) .mdc-button__ripple::after {
  transition: opacity 150ms linear;
}
.bonus-snackbar-after-order .mdc-snackbar__surface .mdc-snackbar__actions button.mdc-snackbar__action:not(.mdc-ripple-upgraded):active .mdc-button__ripple::after {
  transition-duration: 75ms;
  opacity: 0.12;
}
.bonus-snackbar-after-order .mdc-snackbar__surface .mdc-snackbar__actions button.mdc-snackbar__action.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.12;
}
.bonus-snackbar-after-order .mdc-snackbar__surface .mdc-snackbar__actions button.mdc-snackbar__action:not(:disabled) {
  color: #004ba0;
}

.search-result-card {
  margin-bottom: 16px;
}
.search-result-card .mdc-card__primary-action p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1rem;
  /* @alternate */
  font-size: var(--mdc-typography-body1-font-size, 1rem);
  line-height: 1.5rem;
  /* @alternate */
  line-height: var(--mdc-typography-body1-line-height, 1.5rem);
  font-weight: 400;
  /* @alternate */
  font-weight: var(--mdc-typography-body1-font-weight, 400);
  letter-spacing: 0.03125em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-body1-text-transform, inherit);
  padding: 16px;
}
.search-result-card .mdc-card__primary-action .search-result-card__media {
  background-image: url("https://static.ah.nl/static/product/AHI_43545239363332303137_1_LowRes_JPG.JPG");
  background-size: cover;
  height: 200px;
  margin: 8px;
}
.search-result-card .mdc-card__primary-action .search-result-card__title {
  margin-block-start: 0.8rem;
  margin-block-end: 0.8rem;
  padding-left: 16px;
}
.search-result-card .mdc-card__primary-action .search-result-card__content {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 0;
  color: gray;
}

/*# sourceMappingURL=App.css.map */
