.bonus-image-list .mdc-image-list__image {
  border-radius: 16px;
}
.bonus-image-list.mdc-image-list--with-text-protection .mdc-image-list__supporting {
  border-radius: 0 0 16px 16px;
}
.bonus-image-list .mdc-image-list__item {
  width: calc(100% / 3 - 4.3333333333px);
  margin: 2px;
}
.bonus-image-list li.bonus-image-list__item {
  margin: 8px;
  width: calc(100%/3 - 2*8px);
  padding: 0;
  overflow: hidden;
  border-radius: 16px;
}
.bonus-image-list li.bonus-image-list__item .price-label {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.5rem;
  padding: 0.5rem 0.6rem 0 0.6rem;
  border-radius: 0 0 0 16px;
  font-family: Roboto, sans-serif;
  background-color: #63a4ff;
  display: block;
  color: white;
}
.bonus-image-list li.bonus-image-list__item .price-label span {
  vertical-align: middle;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  /* @alternate */
  font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  font-size: 1rem;
  /* @alternate */
  font-size: var(--mdc-typography-body1-font-size, 1rem);
  line-height: 1.5rem;
  /* @alternate */
  line-height: var(--mdc-typography-body1-line-height, 1.5rem);
  font-weight: 400;
  /* @alternate */
  font-weight: var(--mdc-typography-body1-font-weight, 400);
  letter-spacing: 0.03125em;
  /* @alternate */
  letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
  text-decoration: inherit;
  /* @alternate */
  text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
  text-transform: inherit;
  /* @alternate */
  text-transform: var(--mdc-typography-body1-text-transform, inherit);
  font-size: 2rem;
  display: block;
}
.bonus-image-list li.bonus-image-list__item .bonus-image-list__supporting {
  height: 72px;
  padding-top: 0;
  /* text spacing is controlled with margin in text element*/
}
.bonus-image-list li.bonus-image-list__item .bonus-image-list__supporting span.bonus-image-list__label {
  height: calc(72px - ((72px - 2rem)/2));
  font-size: 2rem;
  margin-top: calc((72px - 2rem)/2);
}

.ripple-surface {
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ripple-surface::before, .ripple-surface::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}
.ripple-surface::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}
.ripple-surface.mdc-ripple-upgraded::before {
  transform: scale(var(--mdc-ripple-fg-scale, 1));
}
.ripple-surface.mdc-ripple-upgraded::after {
  top: 0;
  /* @noflip */
  left: 0;
  transform: scale(0);
  transform-origin: center center;
}
.ripple-surface.mdc-ripple-upgraded--unbounded::after {
  top: var(--mdc-ripple-top, 0);
  /* @noflip */
  left: var(--mdc-ripple-left, 0);
}
.ripple-surface.mdc-ripple-upgraded--foreground-activation::after {
  animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
}
.ripple-surface.mdc-ripple-upgraded--foreground-deactivation::after {
  animation: mdc-ripple-fg-opacity-out 150ms;
  transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
}
.ripple-surface::before, .ripple-surface::after {
  top: calc(50% - 100%);
  /* @noflip */
  left: calc(50% - 100%);
  width: 200%;
  height: 200%;
}
.ripple-surface.mdc-ripple-upgraded::after {
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%);
}
.ripple-surface::before, .ripple-surface::after {
  background-color: black;
}
.ripple-surface:hover::before {
  opacity: 0;
}
.ripple-surface.mdc-ripple-upgraded--background-focused::before, .ripple-surface:not(.mdc-ripple-upgraded):focus::before {
  transition-duration: 75ms;
  opacity: 0;
}
.ripple-surface:not(.mdc-ripple-upgraded)::after {
  transition: opacity 150ms linear;
}
.ripple-surface:not(.mdc-ripple-upgraded):active::after {
  transition-duration: 75ms;
  opacity: 0.25;
}
.ripple-surface.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: 0.25;
}

.bonus-product-dialog .mdc-dialog__surface {
  min-width: 80vw;
}

/*# sourceMappingURL=App.css.map */
